[config]
schemaVersion = "0.0.1"

[package]
namespace = "Bob123"
name = "Haunted_Harpist"
description = "Adds several ghost enemies to the game."
websiteUrl = "https://github.com/LouisSilva/LethalCompanyHauntedHarpist"
containsNsfwContent = false

[package.dependencies]
BepInEx-BepInExPack = "5.4.2100"
Evaisa-LethalLib = "1.1.1"

[build]
icon = "./icon.png"
readme = "./README.md"
outdir = "../../Packages"

[[build.copy]]
source = "../AssetBundles"
target = "./BepInEx/plugins/HauntedHarpist/AssetBundles"

[[build.copy]]
source = "../bin/Release/netstandard2.1/LethalCompanyHarpGhost.dll"
target = "./BepInEx/plugins/HauntedHarpist/"

[[build.copy]]
source = "./CHANGELOG.md"
target = "./CHANGELOG.md"

[publish]
repository = "https://thunderstore.io"
communities = [ "lethal-company", ]

[publish.categories]
lethal-company = [ "mods", "items", "monsters", ]